*{
    font-family: "Madimi One";
    box-sizing: border-box;
}

body{
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    height: 100vh;
}

main{
    display: flex;
    justify-content: center;
}

@media (max-width: 768px) {
    body{
        width: 100vmin;
    }

    .main{
        display: flex;
        flex-direction: column;
    }
}

.titulo-principal{
    font-family: "Madimi One";
    font-size: 32px;
    text-align: center;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    margin: 20px;
}

.contenedor{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    height: 30em;
}

.caja1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
    background-color: #103f79;
    border-radius: 10px;
    padding: 10px;
}

.botones{
    margin: 0px auto;
    padding: 5px;
}

.botones button{
    color: black;
    background-color: #f3b229;
    border-radius: 5px;
}

.caja2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
    background-color: #103f79;
    border-radius: 10px;
    padding: 10px;
}

.campo-texto{
    resize: none;
}

.campo-texto:focus::placeholder {
    color: transparent;
}

.campo-mensaje{
    background-image: url("imagenes/open-padlock.png");
    background-position: center;
    background-repeat: no-repeat;
    resize: none;
    margin-bottom: 10px;
}

.campo-mensaje:focus{
    background-image: none;
}

.caja2 button{
    color: black;
    background-color: #f3b229;
    border-radius: 5px;
}

.alerta{
    color:white
}

footer ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer ul li{
    margin-top: 15px;
    padding: 5px;
    font-family: "Madimi One";
    font-size: 18px;
    color: white;
}

footer ul li a{
    color: white;
    text-decoration: none;
}